<div class="container">
  <div class="header row align-items-center text-center">
    <div class="col-2 text-start">
      <button class="icn-btn" id="settingsBtn">
        <img src="/settings-icon.svg" alt="Settings Icon" />
      </button>
    </div>
    <div class="col-8">
      <h1>LeetCode Buddy</h1>
    </div>
    <div class="col-2 text-end">
      <button class="icn-btn" id="problemsBtn">
        <img src="/problems-icon.svg" alt="Problems Icon" />
      </button>
    </div>
  </div>

  <div id="hint-container" class="p-1"></div>

  <div class="btn-group-custom">
    <button class="btn btn-custom btn-hint pulse" id="hintBtn">
      <img src="/hint-icon.svg" alt="Hint Icon" /> Get Hint
    </button>
  </div>
  <div class="d-flex justify-content-center gap-2">
    <button class="btn btn-custom btn-solution d-none" id="solutionBtn">
      View Solution
    </button>
    <button class="btn btn-custom btn-hint d-none" id="nextHintBtn">Next Hint</button>
  </div>
</div>
